
.container{
    width: 200px;
    height: 300px;
    margin:auto;
    background-image: url(../images/attachment-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    animation: play 2s steps(6) infinite;
}

@keyframes play {
    100% { background-position: 0px; }
    100% { background-position: -1000px; }
}

